---
---

/* enable hyphenation */
@mixin hyphens($value: "manual") {
  @each $prefix in "", -webkit-, -moz-, -o-, -ms- {
    #{$prefix}hyphens: $value;
  }
}

p, li {
  text-align: justify;
  @include hyphens(auto);
}

/* override standard hyde content box width */
.content {
  max-width: 45rem;
}

/* override table width */
table {
  width: auto;
  text-align: center;
  margin-left: 2em;
}
